@using Assignment_2_ASP_MVC_Restaurant.Models
@model IEnumerable<Food>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Browse Menu</h3>
<p>
    Select from @Model.Count()
    genres:
</p>
<ul>
    @foreach (Food item in Model)
    {
        <li>@Html.ActionLink(item.FoodType, "Browse", new { type = item.FoodType })</li>
    }
</ul>
