@{
    ViewBag.Title = "About Us";
}

<section class="main-banner">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>@ViewBag.Title.</h2>
            </div>
        </div>
    </div>
</section>

<section class="main-content">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p>French cuisine sounds fancy, conjuring up images of anniversary date nights, expense-account feasts, and once-in-a-lifetime trips to Paris.</p>
                <p>But with the right ingredients, techniques, and dining mentality, you can create amazing French meals on an average weeknight in your very own kitchen.</p>
                <p>French cooking may seem sophisticated, but it’s not rocket science. “It’s ultimately about creating a harmonious dish that elevates the quality of the main ingredient. For example, different regions in France may treat chicken differently—Burgundy makes coq au vin, the Basque region makes Chicken Basque [stewed chicken and vegetables with earthy spices]—but it’s still all about the chicken,” explains Eric Ripert, chef and co-owner of Le Bernardin in New York City and judge on Top Chef. “There’s a lot of tradition involved in all of it.”</p>
            </div>
        </div>
    </div>
</section>

