@{
    ViewBag.Title = "Get in Touch";
}

<section class="main-banner">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>@ViewBag.Title.</h2>
            </div>
        </div>
    </div>
</section>

<section class="main-content">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <address>
                    <ul>
                        <li>253, Johnson Street</li>
                        <li>L4M 6S1</li>
                        <li>Barrie, ON</li>
                        <li>Canada</li>
                        <li><a href="maito:contact@lakuisine.com">contact@lakuisine.com</a></li>
                    </ul>
                </address>
            </div>
            <div class="col-md-8">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2850.1206446713395!2d-79.65609238506642!3d44.41017001117085!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x882aa37cc27d2589%3A0xa6e2ea7151843dec!2s253+Johnson+St%2C+Barrie%2C+ON+L4M+6S1%2C+Canada!5e0!3m2!1sen!2sbe!4v1455159661430"
                       allowfullscreen></iframe>
            </div>
        </div>
    </div>
</section>
