@{
    ViewBag.Title = "Get in Touch";
}

<section class="main-banner">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>@ViewBag.Title.</h2>
            </div>
        </div>
    </div>
</section>

<section class="main-content">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <address>
                    <ul>
                        <li>106, Main St</li>
                        <li>L9M 1T5</li>
                        <li>Penetanguishene, ON</li>
                        <li>Canada</li>
                        <li><a href="maito:contact@lakuisine.com">contact@lakuisine.com</a></li>
                    </ul>
                </address>
            </div>
            <div class="col-md-8">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2832.615735579442!2d-79.9358516844657!3d44.76825097909893!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4d2adbe2f80e076d%3A0x4723328a49ff0f5e!2s106+Main+St%2C+Penetanguishene%2C+ON+L9M+1T5!5e0!3m2!1sen!2sca!4v1470340527238" 
                         allowfullscreen></iframe>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="navbar-text pull-left">
                    <a href="https://github.com/" title="GitHub" target="_blank"><i class="fa fa-github fa-2x"></i></a>
                    <a href="https://ca.linkedin.com/" title="LinkedIn" target="_blank"><i class="fa fa-linkedin fa-2x"></i></a>
                    <a href="https://www.facebook.com/" title="Find me on Facebook" target="_blank"><i class="fa fa-facebook fa-2x"></i></a>
                    <a href="https://twitter.com/" title="Follow me on Twitter" target="_blank"><i class="fa fa-twitter fa-2x"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>
