@using Assignment_2_ASP_MVC_Restaurant.Models;
@model IEnumerable<Food>

@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int count = 0; string Class="";
}

<section class="section banner">
    <div class="container">
        <div class="row">
            <div class="col-md-12 banner-text">
                <h1>Welcome to La Kuisine!</h1>
                <p>Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Nulla porttitor accumsan tincidunt. Quisque velit nisi, pretium ut lacinia in, elementum id enim. Curabitur aliquet quam id dui posuere blandit. Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus. Proin eget tortor risus.</p>
            </div>
        </div>
    </div>
</section>

<section class="home-choice">
    <div class="container">
        <div class="row bg-white no-gutter shadow">
            @foreach (Food items in Model)
            {
                switch (count)
                {
                    case 0: Class = "appetizer-bg"; break;
                    case 1: Class = "beverages-bg"; break;
                    case 2: Class = "main-course-bg"; break;
                    case 3: Class = "dessert-bg"; break;
                }
                <div class="col-md-3">
                    <div class="home-thumb @Class" >
                        <h4>@Html.ActionLink(items.FoodType, "Browse", new { type = items.FoodType })</h4>
                    </div>
                </div>
                count++;
            }

        </div>
    </div>
</section>

<section class="main-content">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h2>La Kuisine</h2>
                <p>Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Donec sollicitudin molestie malesuada. Sed porttitor lectus nibh. Pellentesque in ipsum id orci porta dapibus. Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui.</p>
                <p>Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus. Sed porttitor lectus nibh. Sed porttitor lectus nibh. Nulla porttitor accumsan tincidunt. Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus.</p>
            </div>
            <div class="col-md-4">
                <img src="~/Assets/Images/beverages.jpg" class="img-circle img-responsive" />
            </div>
        </div>
    </div>
</section>