@using Assignment_2_ASP_MVC_Restaurant.Models;
@model IEnumerable<Food>

@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="section banner">
    <div class="container">
        <div class="row">
            <div class="col-md-12 banner-text">
                <h1>Welcome to La Kuisine!</h1>
                <p>La Kuisine is a personal, neighborhood style restaurant situated in the town of Penetanguishene, a picturesque bilingual community at the southern tip of beautiful Georgian Bay. The menu selection consists of regional cuisines of France and Canada. It features traditional French-Canadian recipes with a Metis influence – two cultures that are part of the fibre of Huronia. The menu includes a wide range of items to suit all tastes. We truly believe in the quality of each dish. From preparing all of our sauces, dressings and dips in house, to preparing each dish individually as it is ordered, the result are absolutely delicious homemade dishes. We invite everyone to savour gourmet cuisine that features local products and heritage. Come, experience our hospitality, enjoy the sounds of French music and the talent of our local artists!.</p>
            </div>
        </div>
    </div>
</section>

<section class="home-choice">
    <div class="container">
        <div class="row bg-white no-gutter shadow">
            @foreach (Food items in Model)
            {
                <div class="col-md-3">
                    <div class="home-thumb @items.FoodType-bg" >
                        <h4>@Html.ActionLink(items.FoodType, "Browse", new { type = items.FoodType })</h4>
                    </div>
                </div>
            }

        </div>
    </div>
</section>

<section class="main-content">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h2>La Kuisine</h2>
                <p>Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Donec sollicitudin molestie malesuada. Sed porttitor lectus nibh. Pellentesque in ipsum id orci porta dapibus. Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui.</p>
                <p>Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus. Sed porttitor lectus nibh. Sed porttitor lectus nibh. Nulla porttitor accumsan tincidunt. Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus.</p>
            </div>
            <div class="col-md-4">
                <img src="~/Assets/Images/beverages.jpg" class="img-circle img-responsive" />
            </div>
        </div>
    </div>
</section>