body {
    font-family: 'Lora', Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    line-height: 28px;
}

h1, h2, h3, h4, h5 {
    font-family: 'Cookie', Georgia;
}

h2 {
    font-size: 70px;
}

h3 {
    font-size: 50px;
}

h4 {
    font-size: 35px;
    color: #c78f53;
}

a {
    color: #c78f53;
    transition: all 0.3s ease-out;
}

    a:hover {
        text-decoration: none;
    }

p {
    margin-bottom: 20px;
}

iframe {
    border: none;
    width: 100%;
    min-height: 300px;
}

.navbar-inverse {
    margin-bottom: 0;
    border-radius: 0;
    border: none;
    background-color: transparent;
    padding: 5px 0;
    border-bottom: 1px solid rgba(255,255,255,0.2);
    top: 0;
    position: absolute;
    width: 100%;
    z-index: 999;
}

    .navbar-inverse .navbar-nav > li > a {
        color: #FFF;
        padding: 20px 30px;
        position: relative;
    }

    .navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
        color: #c78f53;
    }
       

    .navbar-inverse .navbar-nav > li > a:hover {
        color: #c78f53;
    }

    .navbar-inverse .navbar-nav > li > a:after {
        content: '-';
        position: absolute;
        right: 0;
    }

    .navbar-inverse .navbar-nav > li:last-child > a:after {
        content: none;
    }

dt, dd {
    padding: 5px 10px;
}
    
.section {
    padding: 80px 0;
}


.banner {
    background-image: url('../Assets/Images/bg-food.jpg');
    background-size: cover;
    background-attachment: fixed;
    padding-top: 120px;
    padding-bottom: 250px;
}

    .banner-text {
        margin-bottom: 40px;
        text-align: center;
        color: #FFF;    
    }

    .banner-text h1 {
        font-size: 80px;    
    }


/* =======================
No row Margin
======================= */
.row.no-gutter {
	margin-right: 0; 
	margin-left: 0;
}
.row.no-gutter > [class^="col-"],
.row.no-gutter > [class*=" col-"] {
	padding-right: 0;
	padding-left: 0;
}

.shadow {
    box-shadow: 2px 2px 10px rgba(0,0,0,0.2);
}

.home-choice {
    margin-top: -200px;
}

    .bg-white {
        background-color: #FFF;
    }

    .home-thumb {
        padding: 100px 0;
        background-size: cover;
        text-align: center;
        transition: all 200ms ease-in;
        transform: scale(1);
        position: relative;
        border-right: 0;
    }

        .home-thumb:hover {
            transform: scale(1.1);   
            cursor: pointer;
            z-index: 5 ;
            color: #FFF
        }
        
        .Appetizer-bg {
            background-image: url('/Assets/Images/appetizers.jpg');
        }

        .Beverages-bg {
            background-image: url('/Assets/Images/beverages.jpg');
        }

        .MainCourse-bg {
            background-image: url('/Assets/Images/main-course.jpg');
        }

        .Desserts-bg {
            background-image: url('/Assets/Images/dessert.jpg');
        }

        .home-thumb h4 {
            font-size: 42px;
            background: rgb(0, 0, 0);
            display: inline-block;
            padding: 5px 20px;
        }

        .home-thumb h4:hover a {
            color: #FFF;
            text-decoration: none;
        }



.footer {
    background-color: #c78f53;
    padding: 20px 0;
    margin-top: 60px;
}

    .footer p {
        color: #FFF;
        margin-bottom: 0;
    }

    

.main-banner {
    background-image: url('/Assets/Images/bg-food.jpg');
    background-size: cover;
    background-attachment: fixed;
    padding-top: 80px;
    padding-bottom: 35px;
}

    .main-banner h2 {
        color: #FFF;
    }

.main-content {
    padding: 40px 0;
}
